<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light"
  >
    <div class="container">
      <div class="nav-toggle-container">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target=".navbar-collapse"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="isExpanded"
          (click)="toggle()"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li>
            <button class="nav-btn" (click)="printFeatures()">Print Features</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
